<div id="{{myModel.getElementId()}}" class="model-node list-group d-inline-flex" [style.left.px]="myModel.pos_x" [style.top.px]="myModel.pos_y">

  <h2 id="{{myModel.getElementH2Id()}}" class="list-group-item list-group-item-primary d-flex" [class.list-group-item-primary]="myModel.is_pivot === false" [class.list-group-item-secondary]="myModel.is_pivot === true" (mousedown)="startDrag()" (mouseup)="endDrag()">
    <span class="align-self-center mr-auto">{{myModel.id}}:{{myModel.name}}</span>
    <span class="icon-group align-self-center" id="icon01">
      <i *ngIf="myModel.is_pivot===false" class="material-icons ml-3" (click)="editModel()">mode_edit</i>
      <i class="material-icons ml-1" (click)="deleteModel()">close</i>
    </span>
  </h2>

  <schema *ngFor="let schema of myModel.schemas; let first=first; let last=last;" [mySchema]="schema" [first]="first" [last]="last" [is_pivot]="myModel.is_pivot" id="{{schema.getElementId()}}" class="list-group-item d-flex"></schema>

  <div class="list-group-item text-center">
    <a href="javascript:void(0)" (click)="addSchema()"><i class="material-icons align-middle">add_circle</i> <span class="align-middle">add schema</span></a>
  </div>

</div>