<div class="modal-header">
  <h5 class="modal-title">
    <ng-container *ngIf="mode === 'create'">Create Model</ng-container>
    <ng-container *ngIf="mode === 'edit'">Edit Model</ng-container>
  </h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form>
    <input type="hidden" name="is_pivot" [(ngModel)]="model.is_pivot">
    <div class="form-group row">
      <label for="name-field" class="col-sm-4 col-form-label text-right">Name</label>
      <div class="col-sm-8">

        <ng-container *ngIf="use_laravel_auth && mode==='edit' && model.name=='user'; then laravelAuth; else notLaravelAuth"></ng-container>
        <ng-template #laravelAuth>
          <input type="text" class="form-control form-control-sm" id="name-field" name="name" [(ngModel)]="model.name" readonly>
          <small id="nameHelp" class="form-text text-muted">unable to change. This is for Laravel auth.</small>
        </ng-template>
        <ng-template #notLaravelAuth>
          <input type="text" class="form-control form-control-sm" id="name-field" name="name" [(ngModel)]="model.name" require>
          <small id="nameHelp" class="form-text text-muted">Input model name with singular camelCase.</small>
        </ng-template>

      </div>
    </div>
    <div class="form-group row">
      <label for="display_name-field" class="col-sm-4 col-form-label text-right">Display name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control form-control-sm" id="display_name-field" name="display_name" [(ngModel)]="model.display_name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 offset-sm-4">
        <div class="form-check form-check-inline">
          <label class="form-check-label"><input type="checkbox" class="form-check-input" id="use_soft_delete-field" name="use_soft_delete" value="true" [(ngModel)]="model.use_soft_delete"> use soft delete</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="schema_id_for_relation-field" class="col-sm-4 col-form-label text-right">Relation schema </label>
      <div class="col-sm-8">
        <select id="schema_id_for_relation-field" name="schema_id_for_relation" class="form-control form-control-sm" [(ngModel)]="model.schema_id_for_relation" *ngIf="model.schemas.length>0; else elseBlock">
          <option value="" selected disabled hidden>--- select display schema here ---</option>
          <option value="0">id</option>
          <option *ngFor="let schema of model.schemas;" value="{{schema.id}}">{{schema.name}}</option>
        </select>
        <ng-template #elseBlock>
          <select id="schema_id_for_relation-field" name="schema_id_for_relation" class="form-control form-control-sm" [(ngModel)]="model.schema_id_for_relation">
            <option value="0" selected>--- no schemas ---</option>
          </select>
        </ng-template>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer" *ngIf="mode == 'create'">
  <button type="button" class="btn btn-primary" (click)="create()">Create</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Close</button>
</div>