
/* .material-icons */

.material-icons{
    cursor:pointer;
    width:12.813px;
}
.material-icons.disable{
    cursor:default;
    opacity: 0.3;
}

/* #canvas */

#canvas{
    position:relative;
}
#canvas .model-node{
    position:absolute;
}
#canvas .model-node:hover{ 
    opacity: 0.6;
}
#canvas .model-node *{
    font-size: 0.8rem;
}
#canvas .model-node h2{
    cursor:move;
}

